*.suo
*.user
*.vs
DotNetty.Extensions/bin
DotNetty.Extensions/obj

Example/TcpSocket.Client/bin
Example/TcpSocket.Client/obj

Example/TcpSocket.Server/bin
Example/TcpSocket.Server/obj

Example/UdpSocket.Client/bin
Example/UdpSocket.Client/obj

Example/UdpSocket.Server/bin
Example/UdpSocket.Server/obj

Example/WebSocket.ConsoleClient/bin
Example/WebSocket.ConsoleClient/obj

Example/WebSocket.Server/bin
Example/WebSocket.Server/obj