*.suo
*.user
*.vs
DotNetty.Extensions/bin
DotNetty.Extensions/obj

TestTcpClient/bin
TestTcpClient/obj

TestTcpServer/bin
TestTcpServer/obj

TestUdp1/bin
TestUdp1/obj

TestUdp2/bin
TestUdp2/obj

TestWebSocketClient/bin
TestWebSocketClient/obj

TestWebSocketServer/bin
TestWebSocketServer/obj