*.suo
*.user
*.vs
DotNetty.Extensions/bin
DotNetty.Extensions/obj

Example/TestTcpClient/bin
Example/TestTcpClient/obj

Example/TestTcpServer/bin
Example/TestTcpServer/obj

Example/TestUdp1/bin
Example/TestUdp1/obj

Example/TestUdp2/bin
Example/TestUdp2/obj

Example/TestWebSocketClient/bin
Example/TestWebSocketClient/obj

Example/TestWebSocketServer/bin
Example/TestWebSocketServer/obj